<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App20220313Email.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
				<key>dateExpires</key>
				<string>2023/3/13</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>0.20200225.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AC28DBC93BBB0B179EF61B0C8277C2ACCADBCD7</string>
						<key>dateExpires</key>
						<string>2023/3/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QGUDE94G9E</string>
						<key>name</key>
						<string>雅慧  黃</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.7</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QGUDE94G9E.myyhhuang.com.App20220313Email</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QGUDE94G9E</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>QGUDE94G9E.myyhhuang.com.App20220313Email</string>
				</array>
			</dict>
			<key>name</key>
			<string>App20220313Email.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>063655bd-fb71-43da-af62-72f1673ad57e</string>
				<key>dateExpires</key>
				<string>2023/3/13</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: myyhhuang.com.App20220313Email</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QGUDE94G9E</string>
				<key>name</key>
				<string>雅慧  黃</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
